# User and Group IDs for Permissions
PUID=0 # 1000
PGID=0 # 1000
TZ=America/Detroit

# Global Paths for Download Client and *Arr Apps
DOWNLOADS_PATH="path to download folder"
MEDIA_PATH="path to media folder"